.carsTable-container {
	max-width: 1700px;
	font-family: 'Poppins', sans-serif;
}

.carsTable-cardContainer {
	/* width: 413px; */
}

.carsTable-cardimg {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 250px;
}

.carsTable-carCard-price {
	color: #d53535;
	font-size: 36px;
	font-weight: 500;
}

.carsTable-carCard-topCar-topCategory {
	font-size: 20px;
	color: #707070;
}

.carsTable-carCard-topCar-topCarName {
	font-size: 22px;
	color: #1a1a1a;
}

.carsTable-carCard-topCar-topCarName__span {
	color: #d53535;
}

.carsTable-carCard-topCar--mid {
	background-color: #efefef;
}

.carsTable-shop,
.carsTable-shop:hover {
	color: #707070;
	text-decoration: underline;
	font-size: 20px;
}

table {
	columns: 2;
}

@media (max-width: 1199.98px) {
	.carsTable-carCard-price {
		font-size: 50px;
	}
	.carsTable-carCard-topCar-topCarName {
		font-size: 30px;
	}
	.carsTable-carCard-topCar-topCategory {
		font-size: 18px;
	}
	.carsTable-shop,
	.carsTable-shop:hover {
		font-size: 16px;
	}
}

@media (max-width: 767.98px) {
	.carsTable-carCard-price {
		font-size: 35px;
	}

	.carsTable-carCard-topCar-topCarName {
		font-size: 20px;
	}
	.carsTable-carCard-topCar-topCategory {
		font-size: 14px;
	}
	.carsTable-shop,
	.carsTable-shop:hover {
		font-size: 11px;
	}
}
