@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.last-banner {
  margin-bottom: 60px;
  font-family: 'Poppins', sans-serif;
  background: #efefef;
  padding: 0px 110px;
}
.last-banner .banner-title {
  font-size: 30px;
  font-weight: 500;
  padding-right: 85px;
}
.last-banner .banner-title span {
  color: #d53535;
}
.last-banner .banner-price {
  margin-top: 15px;
  padding-right: 50px;
}
.last-banner .price-detail {
  font-weight: 400;
  font-size: 28px;
  color: #727272;
  margin-bottom: 0px;
}
.last-banner .price-range {
  font-weight: 900;
  font-size: 28px;
  color: #727272;
}
@media (max-width: 1200px) {
  .last-banner {
    padding: 96px 20px;
  }
  .last-banner .banner-content {
    flex-direction: row !important;
    padding: 8px 20px !important;
  }
  .last-banner .banner-title {
    font-size: 29px;
  }
  .last-banner .price-range {
    font-size: 27px;
  }
}
@media (max-width: 992px) {
  .last-banner .banner-content {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
}
@media (max-width: 600px) {
  .last-banner .banner-content {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .last-banner .banner-title {
    padding-right: 0;
  }
  .last-banner .banner-price {
    padding-right: 0;
  }
  .last-banner .banner-title {
    font-size: 21px;
  }
}
